#wrapper {
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #F8FBFF;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 480px;
}