.menu {
	margin: 0 auto;
	background: #FFF;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
}

.menu__list {
	padding: 20px 40px;
	display: flex;
	align-items: center;
}

.menu__item {
	cursor: pointer;
}

.menu__item+.menu__item {
	margin-left: 52px;
}

.menu__icon {
	width: 35px;
}