.category__list {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.category__item {
	width: 108px;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100vmax;
	border-width: 1.15px;
	border-style: solid;
	cursor: pointer;
	padding: 10px;
	opacity: 0.65;
}

.category__item+.category__item {
	margin-left: 30px;
}

.category__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 100vmax;
	width: 100%;
	height: 100%;
}

.category__content::before {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: #F8FBFF66;
}

/* category__item_active */
.category__item_active {
	opacity: 1;
}

.category__item_active .category__content::before {
	background: transparent;
}

/* / category__item_active */

.category__icon {
	width: 30px;
}

.category__name {
	letter-spacing: -0.01em;
	margin-top: 8px
}